<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" href="../../Poster/template/css/one_css.css">
    <title>Title</title>
</head>
<body>

    <div class="container">
        <div class="img">
            <img src="{imgurl}" alt="">
        </div>
        <div class="y">{chinese}</div>
        <p>{English}</p>
        <div class="touxiang">
            <img  src="{wxacode}" alt="">
        </div>
        <div class="end">长按识别练口语</div>

    </div>

</body>
</html>